<div class="section-container">



             <div class="section-header">
                <h3>Choose Payment Method</h3>
            </div>
            <div class="buttons-container">
                <div class="button">
                        <app-button content="Pay With Fawry" iconUrl="assets/img/35-355894_bank-cards-icon-credit-card-icon-png.png"></app-button>
                </div>
                <div>
            
                        <app-button content="Pay With Credit/Debit Card" iconUrl="assets/img/35-355894_bank-cards-icon-credit-card-icon-png.png"></app-button>
                </div>
                  
                <div>
            
                        <app-button content="Cash On Delivery" iconUrl="assets/img/35-355894_bank-cards-icon-credit-card-icon-png.png"></app-button>
                </div>
            </div>

</div>