<div class="section-container">



             <div class="section-header">
                <h3>Choose Payment Method</h3>
            </div>
            <div class="buttons-container">
                <div class="button">
                        <app-button content="Pay With Fawry" iconUrl="assets/img/fawry-icon.png" (clicked)="navigate()"></app-button>
                </div>
                <div>
            
                        <app-button content="Pay With Credit/Debit Card" iconUrl="assets/img/credit-card-icon.png" (clicked)="navigate()"></app-button>
                </div>
                  
                <div>
            
                        <app-button content="Cash On Delivery" iconUrl="assets/img/cash-png-icon.png" (clicked)="navigate()"></app-button>
                </div>
            </div>

</div>