<div class="slider-container">

    <carousel >
        <slide>
          <img src="assets/img/shoes-ad.jpg" alt="first slide" class="slider-img">
        </slide>
        <slide>
            <img src="assets/img/shoes-ad.jpg" alt="first slide" class="slider-img">
          </slide>
          <slide>
              <img src="assets/img/shoes-ad.jpg" alt="first slide" class="slider-img">
            </slide>
      </carousel>
</div>
<div class="button-container">
  <button> GET IT NOW !</button>
</div>
<div></div>
