<form>
   
    </form>


    <div class="section-container">



        <div class="section-header">
           <h3>Enter Your Details</h3>
       </div>
       <div class="buttons-container">
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Phone</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="010xxxx">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Addres">
          </div>

          <div class="button-container">
          
        <button>Submit</button>
          </div>

       </div>

</div>
